<template>
  <div class="m-comments">
    <comments-header
      :comment-count="commentsCount"
      :sort-type="sortType"
      @sort-select="handlerSortSelect"
    />

    <component
      ref="form"
      :is="componentsForm"
      :murren="currentMurren"
      @create-comment="onSubmitComment"
    />

    <template v-if="commentsCount">
      <ul class="m-comments__list">
        <comments-item
          v-for="comment in comments"
          :key="comment.id"
          :comment="comment"
          class="m-comments__item"
        />
      </ul>
      <observer
        class="m-comments-observer"
        v-if="hasCommentsNextPage"
        @murrIntersect="fetchNextComments"
      />
      <loader v-if="isLoading" />
    </template>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Observer from "../../components/common/Observer.vue";

import {
  ACTIONS_FETCH_COMMENTS,
  ACTIONS_FETCH_NEXT_PAGE_COMMENTS,
  ACTIONS_ADD_COMMENT,
  MUTATIONS_CLEAR_COMMENT,
} from "./store/type.js";

import CommentsHeader from "./components/CommentsHeader.vue";
import CommentsItem from "./components/CommentsItem.vue";
import CommentFormUser from "./components/CommentFormUser.vue";
import CommentFormGuest from "./components/CommentFormGuest.vue";

import "./scss/index.scss";

export default {
  name: "MurrComments",

  components: {
    CommentsItem,
    CommentFormUser,
    CommentFormGuest,
    CommentsHeader,
    Observer,
  },

  props: {
    murrId: {
      type: Number,
      required: true,
    },

    commentsCount: {
      type: Number,
      required: false,
      default: 0,
    },
  },

  data() {
    return {
      isLoading: true,
      sortType: "popularity",
    };
  },

  async created() {
    if (this.commentsCount > 0) {
      await this.$store.dispatch(ACTIONS_FETCH_COMMENTS, {
        murrId: this.murrId,
      });
    }

    this.isLoading = false;
  },

  computed: {
    ...mapGetters({
      comments: "filterComments",
      currentMurren: "currentMurren",
      isMurrenAuthorized: "isMurrenAuthorized",
    }),

    hasCommentsNextPage() {
      return this.$store.state.comments.commentsHasNextPage;
    },

    componentsForm() {
      return this.isMurrenAuthorized ? "CommentFormUser" : "CommentFormGuest";
    },
  },

  methods: {
    async fetchNextComments() {
      this.isLoading = true;

      await this.$store.dispatch(ACTIONS_FETCH_NEXT_PAGE_COMMENTS, {
        murrId: this.murrId,
      });

      this.isLoading = false;
    },

    onSubmitComment({ recaptchaToken, text }) {
      this.$store.dispatch(ACTIONS_ADD_COMMENT, {
        text,
        recaptchaToken,
        murrId: this.murrId,
      });
    },

    handlerSortSelect(type) {
      // TODO implement sorted
      this.sortType = type;
    },
  },

  watch: {
    comments() {
      this.$refs.form.resetFormState();
    },
  },

  beforeDestroy() {
    this.$store.commit(MUTATIONS_CLEAR_COMMENT);
  },
};
</script>
