<template>
  <div class="home-main-container">
    <div class="banner mb">
      <div>
        <h2>
          Всего пролайканых мурров
          <span class="murr-card-count">{{ murrCardsCount }}</span>
        </h2>
      </div>
    </div>

    <murr-card-list targetPage="myLikes" />
  </div>
</template>

<script>
import MurrCardList from "@/components/murr_card/MurrCardList.vue";

export default {
  name: "MurrCardMyLikesList",
  components: {
    MurrCardList,
  },

  computed: {
    murrCardsCount() {
      return this.$store.state.murrCard.murrListCount;
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.murr-card-count {
  font-weight: 900;
  color: $warning;
  font-size: 1.1em;
}

.banner {
  @include plank;
  max-width: 500px;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
</style>
